[submodule "Mirage-2000/FGUM/LA"]
	path = Mirage-2000/FGUM/LA
	url = https://github.com/FGUM/LA.git
[submodule "Mirage-2000/FGUM/Contact"]
	path = Mirage-2000/FGUM/Contact
	url = https://github.com/FGUM/Contact.git
[submodule "Mirage-2000/FGUM/RCSDatabase"]
	path = Mirage-2000/FGUM/RCSDatabase
	url = https://github.com/FGUM/RCSDatabase.git
[submodule "Mirage-2000/FGUM/Radar"]
	path = Mirage-2000/FGUM/Radar
	url = https://github.com/FGUM/Radar.git
