<?xml version="1.0" encoding="iso-8859-1"?>

<PropertyList>

  <name>config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>

  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>

    <text>
      <label>Mirage 2000 Configuration</label>
    </text>

    <empty>
      <stretch>1</stretch>
    </empty>

    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>

      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <hrule />

  <group>
    <layout>table</layout>
    <button>
      <row>0</row>
      <col>0</col>
      <legend>Auto-Start</legend>
      <binding>
        <command>nasal</command>
        <script>mirage2000.autostart();</script>
      </binding>
    </button>

    <button>
      <row>0</row>
      <col>1</col>
      <legend>Repair Damage</legend>
      <binding>
        <command>nasal</command>
        <script>
          var failure_modes = FailureMgr._failmgr.failure_modes;
          var mode_list = keys(failure_modes);
          foreach(var failure_mode_id; mode_list) {
          FailureMgr.set_failure_level(failure_mode_id, 0);
          }
        </script>
      </binding>
    </button>
  </group>

  <hrule />

  <group>
    <layout>hbox</layout>
    <text><label>Weapons Multiplayer Damage</label></text>
    <checkbox>
      <property>/payload/armament/msg</property>
      <live>true</live>
      <binding>
        <command>nasal</command>
        <script>
          if(getprop("/gear/gear[0]/wow") or !getprop("payload/armament/msg")){
          setprop("payload/armament/msg", !getprop("payload/armament/msg"));
          }
          screen.log.write("MP messaging : " ~ (getprop("/payload/armament/msg") ? "Activated" : "Deactivated")  , 0.5, 0.5, 1);
        </script>
      </binding>
    </checkbox>
  </group>

  <group>
    <layout>hbox</layout>
    <text><label>Activate Auto Missile View</label></text>
    <checkbox>
      <property>/controls/armament/automissileview</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>/controls/armament/automissileview</property>
      </binding>
    </checkbox>
  </group>

  <hrule />

  <text><label>Rate of Fire</label></text>
  <text><label>A/A => A/G</label></text>
  <group>
    <layout>hbox</layout>
    <group>
      <layout>vbox</layout>
      <halign>left</halign>
      <text><label>1800rnd/min=>1100rnd/min</label></text>
    </group>

    <group>
      <layout>vbox</layout>
      <halign>right</halign>
      <slider>
        <name>Rate</name>
        <property>/ai/submodels/submodel/delay</property>
        <live>1</live>
        <min>0.03</min>
        <max>0.06</max>
        <step>0.03</step>
        <binding>
          <command>dialog-apply</command>
        </binding>
        <binding>
          <command>nasal</command>
          <script>guns.Cannon_rate()</script>
        </binding>
      </slider>
    </group>
  </group>

  <hrule />

  <text><label>Fly-by-wire</label></text>
  <group>
    <layout>hbox</layout>
    <group>
      <layout>vbox</layout>
      <halign>left</halign>
      <text><label>A/A - CHARGES</label></text>
    </group>
    <group>
      <layout>vbox</layout>
      <halign>right</halign>
      <slider>
        <name>CAT</name>
        <property>/fdm/jsbsim/fbw/mode</property>
        <live>1</live>
        <min>0</min>
        <max>1</max>
        <step>1</step>
        <binding>
          <command>dialog-apply</command>
        </binding>
      </slider>
    </group>
  </group>

  <hrule />

  <group>
    <layout>hbox</layout>
    <text><halign>left</halign><label>AP TF Smooth (- +)</label></text>
    <group>
      <layout>vbox</layout>
      <halign>right</halign>
      <slider>
        <name>APTF</name>
        <property>/autopilot/settings/tf-mode</property>
        <live>1</live>
        <min>1</min>
        <max>10</max>
        <step>1</step>
        <binding>
          <command>dialog-apply</command>
        </binding>
        <binding>
          <command>nasal</command>
          <script>
              gui.popupTip(sprintf("AP TF Smooth (- +) : %d", getprop("/autopilot/settings/tf-mode")));
          </script>
        </binding>
      </slider>
    </group>
  </group>

  <group>
    <layout>hbox</layout>
    <group>
      <text><label>Predictions (- +)</label></text>
    </group>
    <group>
      <layout>vbox</layout>
      <halign>right</halign>
      <slider>
        <name>APTF</name>
        <property>/instrumentation/tfs/delay-sec</property>
        <live>1</live>
        <min>0.5</min>
        <max>5</max>
        <step>0.5</step>
        <binding>
          <command>dialog-apply</command>
        </binding>
        <binding>
          <command>nasal</command>
          <script>
              gui.popupTip(sprintf("Predictions (- +) : %.1f", getprop("/instrumentation/tfs/delay-sec")));
          </script>
        </binding>
      </slider>
    </group>
  </group>

  <hrule />

  <text>
    <label>Bingo Fuel Value</label>
  </text>

  <input>
    <name>bingo_fuel</name>
    <width>75</width>
    <height>25</height>
    <label> KG</label>
    <property>/instrumentation/consumables/bingo_fuel</property>
    <binding>
      <command>dialog-apply</command>
      <object-name>bingo_fuel</object-name>
    </binding>
  </input>

    <hrule />

  <group>
    <layout>hbox</layout>
    <text><label>Radar on standby</label></text>
    <checkbox>
      <property>instrumentation/radar/radar-standby</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>instrumentation/radar/radar-standby</property>
      </binding>
    </checkbox>
  </group>

  <group>
    <layout>hbox</layout>
    <text><label>Show Pilot</label></text>
    <checkbox>
      <property>/controls/seat/pilot</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>/controls/seat/pilot</property>
      </binding>
    </checkbox>
  </group>

  <group>
    <layout>hbox</layout>
    <text><label>Enable Dynamic View</label></text>
    <checkbox>
      <property>sim/disable-custom-view</property>
      <live>false</live>
      <binding>
        <command>property-toggle</command>
        <property>sim/disable-custom-view</property>
      </binding>
    </checkbox>
  </group>

  <group>
    <layout>hbox</layout>
    <text><label>Cockpit Vibration</label></text>
    <checkbox>
      <property>/controls/cabin/shake-effect</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>/controls/cabin/shake-effect</property>
      </binding>
    </checkbox>
  </group>

    <group>
    <layout>hbox</layout>
    <text><label>Ground Equipment</label></text>
    <checkbox>
      <property>/controls/ground-equipment</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>/controls/ground-equipment</property>
      </binding>
    </checkbox>
  </group>

  <group>
    <layout>hbox</layout>
    <text><label>Smoke (Needs Pods)</label></text>
    <checkbox>
      <property>payload/armament/smoke-pod/flags/smoke-id-500</property>
      <live>false</live>
      <binding>
        <command>property-toggle</command>
        <property>payload/armament/smoke-pod/flags/smoke-id-100</property>
      </binding>
      <binding>
        <command>property-toggle</command>
        <property>payload/armament/smoke-pod/flags/smoke-id-500</property>
      </binding>
    </checkbox>
  </group>

  <empty>
    <stretch>1</stretch>
  </empty>

</PropertyList>
