<?xml version="1.0" encoding="iso-8859-1"?>

<PropertyList>
  
  <!-- If you put the dialog file in the Aircraft/aircraftname/gui/dialog the dialog box is loaded -->
  <name>config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>
  
  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>
    
    <text>
      <label>Load Fast Configuration</label>
    </text>
    
    <empty>
      <stretch>1</stretch>
    </empty>
    
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      
      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <hrule />

  <!--
  <button>
    <legend>MP Shot Report</legend>
    <binding>
      <command>nasal</command>
      <script>missile.MPReport()</script>
    </binding>
  </button>
  -->
  <group>
    <layout>hbox</layout>
    <text><label>MP Shot Report</label></text>
    <checkbox>
      <property>/payload/armament/msg</property>
      <live>true</live>
      <binding>
        <command>property-toggle</command>
        <property>/payload/armament/msg</property>
      </binding>
      <binding>
        <command>nasal</command>
        <script>
          screen.log.write("MP messaging : " ~ (getprop("/payload/armament/msg") ? "Activated" : "Desactivated")  , 0.5, 0.5, 1);</script>
      </binding>
    </checkbox>
  </group>
  
  <group>
        <layout>hbox</layout>
        <text><label>Use Interpolation method</label></text>
        <checkbox>
          <property>payload/armament/hit-interpolation</property>
          <live>true</live>
            <binding>
              <command>property-toggle</command>
              <property>payload/armament/hit-interpolation</property>
            </binding>
        </checkbox>
      </group>
  <hrule />

  <group>
    <layout>hbox</layout>
    <text><label>Activate Auto missile view</label></text>
    <checkbox>
      <property>/controls/armament/automissileview</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>/controls/armament/automissileview</property>
        </binding>
    </checkbox>
  </group>

  <hrule />

  <button>
    <legend>Ground targeting</legend>
<!--    <binding>
      <command>nasal</command>
      <script>missile.targetingGround()</script>
    </binding>-->
    <binding>
      <command>dialog-show</command>
      <dialog-name>Ground_Targeting</dialog-name>
    </binding>
  </button>

  <hrule />

  <button>
    <legend>Reload Gun</legend>
    <binding>
      <command>nasal</command>
      <script>guns.reload_Cannon()</script>
    </binding>
  </button>

  <hrule />

  <text><label>Rate of Fire </label></text>
  <text><label>A/A => A/G => Lower..</label></text>
  <group>
    <layout>hbox</layout>
    <group>
      <layout>vbox</layout>
      <halign>left</halign>
      <text><label>1800rnd/min-1100rnd/min-Lower</label></text>
    </group>
    
    <group>
      <layout>vbox</layout>
      <halign>right</halign>
      <slider>
        <name>Rate</name>
        <property>/ai/submodels/submodel/delay</property>
        <live>1</live>
        <min>0.03</min>
        <max>0.09</max>
        <step>0.03</step>
        <binding>
          <command>dialog-apply</command>
        </binding>
        <binding>
          <command>nasal</command>
          <script>guns.Cannon_rate()</script>
        </binding>
      </slider>
    </group>
  </group>

  <hrule />

  <text>
    <label>Everything below is only available on GROUND!</label>
  </text>
  <text>
    <label>Select a Config below</label>
  </text>

  <button>
    <legend>No load</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.lisse()</script>
    </binding>
  </button>
  <button>
    <legend>PO</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_po_old()</script>
    </binding>
  </button>
  <button>
    <legend>Fox Old Years</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_fox_old()</script>
    </binding>
  </button>
  <button>
    <legend>Fox</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_fox_mix()</script>
    </binding>
  </button>
  <button>
    <legend>Fox Full Mica</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_fox_mica()</script>
    </binding>
  </button>
  <button>
    <legend>Bravo</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_bravo_mix()</script>
    </binding>
  </button>
  <button>
    <legend>Kilo</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2a_kilo_mica()</script>
    </binding>
  </button>
  <button>
    <legend>Air to Ground</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2g_bravo_mix()</script>
    </binding>
  </button>
  <button>
    <legend>Anti Radar</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2ouadi_fox()</script>
    </binding>
  </button>
  <button>
    <legend>Air to Sea</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.a2s_fox()</script>
    </binding>
  </button>  
  <button>
    <legend>m2000N</legend>
    <binding>
      <command>nasal</command>
      <script>pylons.nuke()</script>
    </binding>
  </button>

</PropertyList>
